<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxiao.wxapi.paperchoice.mapper.SysPaperChoiceMapper">

  <select id="selectPaperChoiceListByPaperId"
          resultType="com.xiaoxiao.wxapi.paperchoice.entity.SysPaperChoice">
    select choice_id, paper_id, choice_text, choice_order from sys_paper_choice
    where paper_id = #{paperId}
  </select>
</mapper>