<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxiao.wxapi.question.mapper.SysQuestionMapper">

    <select id="getList" resultType="com.xiaoxiao.wxapi.question.entity.SysQuestion">
        select sq.question_id, sq.question_title, sq.question_desc, sq.question_img, sq.question_order, sq.question_status ,
               (select count(aq.openid) from answer_question as aq
            where aq.question_id = sq.question_id) as join_count
        from sys_question as sq
    </select>
    <select id="getQuestionByQuestionId" resultType="com.xiaoxiao.wxapi.question.entity.SysQuestion">
        select question_id, question_title, question_desc, question_img, question_order, question_status from sys_question
            where question_id = #{questionId}

    </select>
    <select id="getMyQuestionList" resultType="com.xiaoxiao.wxapi.question.entity.SysQuestion">
        select sq.question_id, sq.question_title, sq.question_desc, sq.question_img, sq.question_order,
               (select count(openid) from answer_question as anq where anq.question_id = sq.question_id) as join_count
               from answer_question as aq
        left join sys_question sq on sq.question_id = aq.question_id
        where aq.openid = #{sysQuestionParm.openid}
        order by sq.question_order ASC
    </select>
</mapper>