<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxiao.web.question.mapper.SysQuestionMapper">
    <insert id="save">
        insert into sys_question (question_title, question_desc, question_img, question_order, question_status)
            VALUES (#{questionTitle}, #{questionDesc}, #{questionImg}, #{questionOrder}, #{questionStatus})
    </insert>
    <update id="updateQuestionById">
        update sys_question set question_title = #{questionTitle}, question_desc = #{questionDesc}, question_img = #{questionImg}, question_status = #{questionStatus}
        where question_id = #{questionId}
    </update>
    <delete id="removeById">
        delete from sys_question where question_id = #{questionId}
    </delete>

    <select id="selectByPageAndCondition" resultType="com.xiaoxiao.web.question.entity.SysQuestion">
        select question_id, question_title, question_desc, question_img, question_order, question_status from sys_question
        <where>
            <if test="questionTitle != null">
                question_title like "%" #{questionTitle} "%"
            </if>
        </where>
    </select>
    <select id="selectQuestionById" resultType="com.xiaoxiao.web.question.entity.SysQuestion">
        select question_id, question_title, question_desc, question_img, question_order, question_status from sys_question
        where question_id = #{questionId}
    </select>
    <select id="selectQuestionByOrder" resultType="com.xiaoxiao.web.question.entity.SysQuestion">
        select question_id, question_title, question_desc, question_img, question_order, question_status from sys_question
        where question_order = #{questionOrder}
    </select>
</mapper>